{
    "presets": [
        "react-app"
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "root": ".",
                "alias": {
                    "@Assets": "./src/assets",
                    "@Components": "./src/components",
                    "@Router": "./src/router",
                    "@Store": "./src/store",
                    "@Custom": "./src/components/Custom",
                    "@Constants": "./src/constants",
                    "@Screens": "./src/screens",
                    "@Utils": "./src/utils"
                }
            }
        ]
    ]
}