{
    "presets": [
        "react-app"
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "extensions": [
                    ".ios.ts",
                    ".android.ts",
                    ".ts",
                    ".ios.tsx",
                    ".android.tsx",
                    ".tsx",
                    ".jsx",
                    ".js",
                    ".json"
                ],
                "root": ".",
                "alias": {
                    "@Assets": "./src/assets",
                    "@Components": "./src/components",
                    "@Router": "./src/router",
                    "@Screens": "./src/screens",
                    "@Store": "./src/store"
                }
            }
        ]
    ]
}