{
    "presets": [
        "react-app"
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "extensions": [
                    ".ios.ts",
                    ".android.ts",
                    ".ts",
                    ".ios.tsx",
                    ".android.tsx",
                    ".tsx",
                    ".jsx",
                    ".js",
                    ".json"
                ],
                "root": "./",
                "alias": {
                    "@Assets": "./src/assets",
                    "@Components": "./src/components",
                    "@Custom": "./src/components/Custom",
                    "@Constants": "./src/constants",
                    "@Screens": "./src/screens"
                }
            }
        ]
    ]
}